@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.scroll-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.3s;
    }

    .scroll-btn:hover {
        opacity: 1;
    }

/*Botones arriba abajo*/
#scrollUpBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 150px;
    width: 100px;
    font-size: 20px;
    height: 100px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #F26202;
    color: white;
    cursor: pointer;
}

#scrollDownBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 100px;
    font-size: 20px;
    height: 100px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #F26202;
    color: white;
    cursor: pointer;
}

#scrollUpBtn:hover,
#scrollDownBtn:hover {
background-color: #45a049;
}
/*fin botones arriba abajo*/

/* modal delete */


.head_an
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.modal2
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

}

  .modal-contentt
  {

    background-color: #1E1E20;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 1%;
    box-shadow: 0px 15px 20px -5px #43297B;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .bdboton
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
.dboton
{
    width: 150px;
    height: 75px;
    border-radius: 10%;
    border-style: solid;
    border-color: #43297B;
    background-color: #43297B;
    color: #fff;
    font-size:large;
    cursor: pointer;

}

.botonh{
    background-color: #1E1E20;
    height: 30px;
    width: 60px;
}
.botonh:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 15px 20px -5px #43297B;
    background-color: #F26202;
}
.dboton:hover
{
    transform: scale(1.1);
    box-shadow: 0px 15px 20px -5px #F26202;
    color: #F26202 ;
}
.conf_
{
    font-size:large;
}

.est_
{
    font-size:large;
}
  /*fin modal 2 */


/**Modal***/
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

}

  .modal-content
  {

    background-color: #1E1E20;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 1%;
    box-shadow: 0px 15px 20px -5px #43297B;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/**fin Modal***/


.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 100px;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}
/*****/
/* Estilo para el menú fijo */


/**************/

.containerr input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    display: none;
    color: white;

  }

  .containerr {
    --size: 50px;
    width: var(--size);
    display: block;
    height: var(--size);
    background-color: #191A1E;
    border-radius: 100%;
    cursor: pointer;
    /* padding: 5px; */
    color: white;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  }
  .containerr:hover {
    box-shadow: 0px 15px 20px -5px #43297B;
  }
  .containerr .checkmark {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    transition: all ease 0.3s;

    /* padding: 8px; */
  }

  .containerr .checkmark svg {
    opacity: 0;
    transition: all ease 0.3s;

  }

  .containerr input:checked + .checkmark {
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;

}

  .containerr input:checked + .checkmark svg {
    opacity: 1;
  }
/***Card***/


.plogo {

    width: 170px;
    height: 170px;
    padding: 0;
    left: 15px;
    border-radius: 50%;
    position: relative;

}

.hra{
    width: 170px;
    height: 4px;
    background-color: #ffffff;
}

.description
{
    top: 20px;
    position: relative;
}

.Nombre{
    color: #FF6600;
    bottom: 10px;
}

.containerb{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
    gap: 70px;
    padding-left: 200px;
}

.card {
    width: 200px;
    height: min-content;
    transition: all .3s;
    position: relative;
    border-radius: .5rem 2rem;
    box-shadow: 0px 15px 20px -5px #ffffff;
  }

  .card:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 20px -5px #43297B;
  }

.hra:hover
{
    background-color: chocolate;
}
/***Fin_Card***/

/*barra izquierda*/

nav {
    display: grid;
    grid-template-rows: 62px 62px 62px 62px 62px 62px 62px 62px 62px;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    top: 110px;
    background: #F26202;
    transform: translateX(-100%);
    transition: .4s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.navigation {
    position: fixed;
    padding-left: 0px;
}

.navigation a {
    display: block;
    line-height: 3.5;
    text-decoration: none;
    transition: .4s ease;
    padding-left: 30px;
}

.navigation a:hover {
    transform: translateX(10%);
}

#btn-nav {
    display: none;
}

#btn-nav:checked~nav {
    transform: translateX(0);
}

.btn-nav {
    margin-left: 15px;
    margin-top: 33px;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    padding: 6.5px 15px;
    transition: .2s ease;
}
.panell1
{
    font-size: 23px;
}
.panell2
{
    font-size: 23px;
}
.panell3
{
    font-size: 23px;
}
.panell4
{
    font-size: 23px;
}
.panell1:hover
{
    transform: scale(1.1);
    color: #f26202;
}
.panell2:hover
{
    transform: scale(1.1);
    color: #f26202;
}
.panell3:hover
{
    transform: scale(1.1);
    color: #f26202;
}
.panell4:hover
{
    transform: scale(1.1);
    color: #f26202;
}

.btn-nav:hover
{
    transform: scale(1.2);
    color: #f26202;
}

/*fin barra*/


/*index*/

.logo {
    display: flex;
    justify-content: left;
    width: 110px;
    height: 110px;
    margin-left: 80px;
}

li {
    cursor: pointer;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
}

header {
    background-color: #43297B;
    color: white;
    margin: 0;
}

/*
.navbar {
    display: flex;
    margin: 0;
    /* justify-content: center;
    align-items: left;
} */
.grid {
    display: grid;
    grid-template-columns: 175px 50px;
    align-items: center;
}

main {
    color: white;
    margin: 0;
    /* background-color: #1E1E20; */
    padding-bottom: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    /* margin-top: -250px; */
}

.titulo_logo:hover
{
    transform:scale(1.08);
    color: #f26202;
    text-decoration: none;
}


/*Inicar session*/

.a
{
    display: flex;
    justify-content: left;
    margin-left: 80px;
    font-size: 20px;
}

/*Mantenerme conectado*/

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#checkbox {
    height: 20px;
    /* Aumenta el tamaño del checkbox */
    width: 20px;
    /* Aumenta el tamaño del checkbox */
    margin-top: 15px;
}

.boton:hover
{
    transform: scale(1.3);
    color: #f26202;
}

.sesion:hover
{
    transform: scale(1.3);
    color: #f26202;
}

input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.division {
    cursor: default;
    text-decoration: none;
}

.boton {
    width: 200px;
    background-color: #43297B;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #43297B;
    padding: 5px;
    margin-left: 120px;
}

.boton .sesion {
    margin-left: 50px;
}

label {
    display: block;
    float: center;
}

.buttonab {
    width: 180px;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #43297B;
    border-radius: 10px;
    border-color: #43297B;
    border-style: solid;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;


}

.buttonab:hover
{
    transform: scale(1.0001);
    box-shadow: 0px 15px 20px -5px #F26202;
    color: #F26202;
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


/* termina index*/


/* #sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 15px;
}

#content {
    margin-left: 0;
    transition: 0.3s;
}

#content.active {
    margin-left: 250px;
}

#toggleButton {
    position: fixed;
    left: 10px;
    top: 10px;
} */


/*-----------------footer-------------------*/

footer {
    background-color: #43297B;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    line-height: 1.5;
}

.contenedor {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin-bottom: 5px;
}

footer p {
    line-height: 0.5;
    margin-bottom: 5px;
    margin-top: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: none;
}

.politicasoporte {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: row;
}


/* termina footer*/



.navbar1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 0;
}
.navbar1:hover
{
    transform: scale(1.01);
    color: #f26202;
}
.navbar2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.navbar1 a,
.navbar2 a {
    margin: 0 10px;
    text-decoration: none;
}

.usuario {
    display: flex;
    justify-content: left;
    width: 110px;
    height: 110px;
}

.fuente2 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    color: #4D514A;
    margin-bottom: -5px;
}

.fuente3 {
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #3190C1;
    text-decoration: underline;
}

.b {
    display: flex;
    justify-content: left;
    margin-left: 110px;
    font-size: 20px;
}

.cuentadiv {
    display: flex;
    /* align-items: center; */
    /* margin-left: 10px;
    margin-right: 100px; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Esto centrará horizontalmente */
    text-align: center;
    padding-bottom: 300px;
    margin-left: 150px;
}

.iconocuenta {
    display: flex;
    align-items: center;
    padding-right: 573px;
    padding-bottom: 35px;
}

.iconocuenta i {
    margin-right: 10px;
    margin-top: 20px;
}

.usuario img {
    max-width: 100%;
    height: auto;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Esto centrará horizontalmente */
    text-align: left;
    margin-right: 100px;
}


/* .container1,
    .container3 {
        margin: 0 300px;
    } */

.campo {
    background-color: #EEEEEE;
    color: gray;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    color: #4D514A;
    height: 30px;
    width: 300px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid #615e5e; */
    border: 1px solid #5e5d5d;
}

.grande {
    flex: 1;
    border: none;
    border-right: 1px solid #ccc;
    border-width: 2px;
    /* El campo grande ocupa el doble de espacio que el campo pequeño */
}

.diferentes {
    margin-top: 20px;
}

.grande i {
    margin-top: 15px;
    margin-left: 18px;
}

.pequeno {
    flex: 5;
    border: none;
}

.pequeno i {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 160px;
}

.pequenocuenta {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.campo2 {
    background-color: #EEEEEE;
    color: gray;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    color: #4D514A;
    height: 30px;
    width: 300px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid #615e5e; */
    border: 1px solid #5e5d5d;
}

.grande2 {
    flex: 1;
    border: none;
    border-right: 1px solid #ccc;
    border-width: 2px;
    /* El campo grande ocupa el doble de espacio que el campo pequeño */
}

.grande2 i {
    margin-top: 15px;
    margin-left: 18px;
}

.pequeno2 {
    flex: 5;
    border: none;
}

.pequeno2 i {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 55px;
}

.pequenocuenta2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.nombreusuario {
    background-color: #fbfbfb;
    width: 750px;
    height: 40px;
    border-width: 1px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 0;
}

.botonactualizar {
    width: 200px;
    background-color: #43297B;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #43297B;
    padding: 5px;
}

.botonactualizar .actualizar {
    margin-left: 50px;
}


/*---------------fin cuenta---------------*/


/*-----------home----------*/

.bienvenida {
    margin-top: 0px;
    font-size: xx-large;
    padding-top: 50px;
    text-align: center;
    margin-left: 110px;
    margin-right: 110px;
}


/*------------fin bienvenida-------------*/


/*------------ficha-------------*/

.ficha1 {
    background-color: #43297B;
    color: white;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    margin-top: 80px;
    padding-top: 15px;

    padding-left: 20px;
    /* margin-bottom: -10px; */

    justify-content: center;
}

.c{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
    margin-right: 70px;
    font-size: 20px;
}

.dd{
    background-color: #F26202;
    color:white;
    display: flex;
    justify-content: center;
    margin-left: 600px;
    font-size: 20px;
    margin-bottom: 100px;
}

.ficha7 {
    background-color: #F26202;
    color: white;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    margin-top: 80px;
    padding-top: 15px;
    padding-left: 55px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: row;
}

.profesor {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: -50px;
    margin-top: -20px;
}

.ficha2 {
    background-color: #F26202;
    color: white;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    /* margin-top: 80px; */
    padding-top: 15px;
    padding-left: 15px;
}

.d {
    display: flex;
    justify-content: left;
    margin-left: 600px;
    font-size: 20px;
    margin-bottom: 100px;
}

.profesor2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: -100px;
}


/*------------fin ficha-------------*/


/*------------panel-------------*/

.e {
    display: flex;
    justify-content: left;
    margin-left: 110px;
    font-size: 20px;
}

.panel1 {
    background-color: #43297B;
    color: white;

    width: 210px;
    height: 40px;
    margin-top: 80px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: -10px;
}

.f {
    justify-content: center;
    padding-left: 115px;
    font-size: 20px;
    position: relative;
    width: 120px;
}

.f:hover {
    transform: scale(1.01);
    transform-origin: left;
}

.ficha15 {
    background-color: #F26202;
    color: white;
    border-radius: 40px;
    width: 100px;
    height: 30px;
    padding-top: 8px;
    padding-left: 35px;
    /* margin-bottom: -10px; */
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-left: 857px;
}

.panel2 {
    background-color: #43297B;
    color: white;
    border-radius: 40px;
    width: 120px;
    height: 30px;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: -10px;
}
.back:hover
{
    color: #F26202;
}
.btnn:hover{
    color: #F26202;
}
.g {
    display: flex;
    justify-content: left;
    margin-left: 600px;
    font-size: 20px;
    margin-top: 30px;
}

.panel3 {
    background-color: #F26202;
    color: white;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    /* margin-top: 80px; */
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h {
    display: flex;
    justify-content: left;
    margin-left: 600px;
    font-size: 20px;
    margin-bottom: 10px;
}

.panel4 {
    background-color: #F26202;
    color: white;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    /* margin-top: 80px; */
    padding-top: 15px;
    /* padding-left: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*------------fin panel-------------*/


/*------------horario-------------*/

.i {
    display: flex;
    justify-content: left;
    margin-left: 110px;
    font-size: 20px;
}

.horario1 {
    /* background-color: #43297B; */
    color: white;
    border-radius: 40px;
    width: 210px;
    height: 40px;
    /* margin-top: 40px; */
    padding-top: 15px;
    /* padding-left: 15px; */
    margin-bottom: -20px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.horario {
    margin: 20px;
    color: white;
    margin-top: 70px;
    margin-left: 120px;
}

.calidad {
    background-color: #FFCC00;
    width: 250px;
}

.front {
    background-color: #007BFF;
}

.movil {
    background-color: #64B058;
}

.fisica {
    background-color: #FF6600;
}

.ingles {
    background-color: #00FFD0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 4px solid #1E1E20;
    padding: 8px;
    text-align: center;
}

th {
    background-color: transparent;
    color: white;
}


/* td {
    background-color: #fff;
}

tr:nth-child(odd) td {
    background-color: #f39191;
} */

td:first-child {
    font-weight: bold;
}


/*------------ fin horario-------------*/


/*------------ aprendiz-------------*/

.j {
    display: flex;
    justify-content: left;
    margin-left: 110px;
    font-size: 20px;
    width: 300px;
}

.aprendiz1 {
    /* background-color: #43297B; */
    color: white;
    border-radius: 40px;
    width: 310px;
    height: 40px;
    /* margin-top: 40px; */
    padding-top: 15px;
    /* padding-left: 15px; */
    margin-bottom: -20px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.aprendiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: -50px;
    margin-top: -20px; */
}

.tabla-aprendiz {
    /* border-collapse: collapse; */
    /* border-color: rgb(65, 64, 64); */
    margin-left: 200px;
    margin-right: 200px;
}

table,
thead,
th,
tr,
td {
    border: 1px solid #fff;
}
td:hover
{
    transform: scale(1.1);
}

.encabezado {
    background-color: #43297B;
}


/*------------ fin aprendiz-------------*/


/*----------------honorario-----*/

.x {
    display: flex;
    justify-content: left;
    margin-left: 600px;
    font-size: 20px;
    margin-bottom: 400px;
}

.resultado8 {
    background-color: #43297B;
    color: white;
    border-radius: 40px;
    width: 200px;
    height: 30px;
    padding-top: 10px;
    /* padding-left: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}

.tabla-honorario {
    /* border-collapse: collapse; */
    /* border-color: rgb(65, 64, 64); */
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
}


/*---------------- fin honorario-----*/


/*------------ competencia-------------*/

.competencia {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 150px;
    margin-bottom: 80px;
}

.y {
    display: flex;
    /* margin-left: 600px; */
    font-size: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.k {
    display: flex;
    /* margin-left: 600px; */
    font-size: 20px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: center;
}

.competencia8 {
    background-color: #43297B;
    color: white;
    border-radius: 40px;
    width: 600px;
    height: 80px;
    /* margin-top: 80px; */
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 15px;
}

.competencia1 {
    background-color: #43297B;
    color: white;
    border-radius: 40px;
    width: 600px;
    height: 80px;
    /* margin-top: 80px; */
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.competencia2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 100px;
}


/*------------ fin competencia-------------*/


/*------------ resultado-------------*/

.l {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 600px;
    font-size: 20px;
    margin-top: 0px;
    text-align: justify;
}

.resultado1 {
    background-color: #F26202;
    color: white;
    border-radius: 40px;
    width: 600px;
    height: 50px;
    /* margin-top: 80px; */
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    /* font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 600;
    margin-bottom: 30px;
}

.m {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.m:hover
{
    transform: scale(1.3);

}

.ml:hover
{
    color: #f26202;
}

.resultado2 {
    background-color: #43297B;
    color: white;


    border-radius: 40px;
    width: 200px;
    height: 30px;

    padding-top: 10px;
    /* padding-left: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}

.buttonabc
{
    background-color: #1E1E20;
}
.edit_
{
    background-color: #43297B;
    height: 30px;
    width: 70px;
}
.edit_:hover
{
    background-color: #f26202;
}

.resultado2:hover
{
    transform: scale(1.1);

}

.a_:hover
{
    color: #f26202;
}

.resultado2 i {
    margin-top: 10px;
}

.content_ac
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/*------------ fin resultado-------------*/


/*--agregarresultado-----------*/

.addresult {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Esto centrará horizontalmente */
    text-align: left;
}

.n {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.addresult2 {
    background-color: #43297B;
    color: white;
    border-radius: 40px;
    width: 200px;
    height: 30px;
    margin-top: 40px;
    padding-top: 10px;
    /* padding-left: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}

.archivo {
    background-color: transparent;
    width: 408px;
    height: 40px;
    /* margin-top: 10px;
    margin-bottom: 20px; */
    border-color: transparent;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.popup p {
    margin: 0;
}

.popup button {
    margin: 10px;
}


/*--fin agregarresultado-----------*/


/*------mod result---*/

.modresult1
{
    width: 880px;
}

.modresult2 {
    width: 880px;
    height: 100px;
}


/*----fin mod result ---*/
/*select*/

/* Estilo base del select */
.down
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #F26202;
    border: 1px solid #43297B;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.down:hover
{
    box-shadow: 0px 15px 20px -5px #43297B;
}

/* Estilo del select cuando está enfocado */
.down:focus {
    border-color: #007bff;
}

/* Estilo del select cuando se coloca el cursor sobre él */
.down:hover {
    border-color: #999999;
}

/* Estilo de las opciones del select */
.down option {
    background-color: #191A1E;
    color: #ffffff;
    font-size: 16px;
}

/* Estilo de las opciones del select cuando se selecciona */
.down option:checked {
    background-color: #43297B;
    color: #ffffff;
}

/*finselect*/

/*----asistencoa ---*/

.down {
    background-color: #F26202;
    color: white;
    border-radius: 40px;
    width: 600px;
    height: 50px;
    /* margin-top: 80px; */
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    /* font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 600;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.down i {
    margin-top: 15px;
    margin-left: px;
}

td .checkbox-container {
    display: flex;
    flex-direction: column;
}


/*----fin asistencoa ---*/

.progress {
    height: 35px;
    width: 100%;
    border: 1px solid #428bca;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}
